@use 'variables' as v;

html {
    font-size:  v.$font-base * 2;
    background: url(/../assets/img/drums_background.jpg) fixed center/cover;
}

body {
    font-family: 'Radio Canada', sans-serif;
    color: v.$font-color;
}