@use 'variables' as v;

.keys {
    position: absolute;
    left: 50%;
    top: 50%;
    width: v.$radius;
    height: v.$radius;
    transform: translate(-165%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: v.$bottom-size;
    height: v.$bottom-size;
    left: 50%;
    top: 50%;
    margin: -(v.$bottom-size/2);
    padding: 2px;
    transition: all .10s;
    border: v.$key-border solid v.$key-border-color;
    border-radius: 50%;
}

.key kbd {
    color: v.$key-border-color;
    font-weight: bold;
}

.playing {
    border-color: v.$key-border-color;
    box-shadow: 0 0 90px v.$key-border-color;
}
